.container4,
.h1 {
  align-self: stretch;
}
.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 60px;
  font-weight: 400;
  font-family: inherit;
}
.container4 {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-61xl);
  align-items: center;
  justify-content: center;
}
.step1Icon {
  position: relative;
  width: 349.84px;
  height: 440px;
  object-fit: cover;
}
.section4,
.steps {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.section4 {
  background-color: var(--color-whitesmoke-200);
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-21xl);
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--h1-l-size);
  color: var(--black);
  font-family: var(--h2-l);
}
@media screen and (max-width: 960px) {
  .container4,
  .h1 {
    align-self: stretch;
    width: auto;
  }
  .h1 {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .container4 {
    height: auto;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
  .step1Icon {
    width: 320px;
    height: 402px;
  }
  .section4,
  .steps {
    align-self: stretch;
    width: auto;
    height: auto;
    gap: var(--gap-xl);
  }
  .steps {
    flex-direction: column;
  }
  .section4 {
    padding: var(--padding-21xl) 0 var(--padding-41xl);
    box-sizing: border-box;
  }
}
