.img21Icon {
  position: relative;
  width: 500px;
  height: 503.65px;
  object-fit: cover;
}
.img2Container {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.h1,
.h2 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.h1 {
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 60px;
  font-weight: 400;
  font-family: inherit;
}
.h2 {
  font-size: var(--h2-l-size);
}
.container2,
.section2 {
  display: flex;
  align-items: center;
  gap: var(--gap-21xl);
}
.container2 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 0 var(--padding-21xl);
  justify-content: flex-start;
}
.section2 {
  align-self: stretch;
  background-color: var(--black);
  flex-direction: row;
  padding: var(--padding-61xl) var(--padding-21xl);
  justify-content: center;
  text-align: right;
  font-size: var(--h1-l-size);
  color: var(--white);
  font-family: var(--h2-l);
}
@media screen and (max-width: 1280px) {
  .h1 {
    font-size: var(--font-size-29xl);
    line-height: 60px;
  }
  .h1,
  .h2,
  .section2 {
    align-self: stretch;
    width: auto;
  }
  .h2 {
    font-size: var(--font-size-5xl);
  }
  .section2 {
    height: auto;
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .img21Icon {
    width: 340px;
    height: 342px;
  }
  .img2Container {
    flex: 1;
    height: auto;
    padding-right: 0;
    box-sizing: border-box;
  }
  .h1 {
    font-size: var(--font-size-9xl);
  }
  .h2 {
    font-size: var(--font-size-lg);
  }
  .container2,
  .section2 {
    align-self: stretch;
    height: auto;
    gap: var(--gap-xl);
    box-sizing: border-box;
  }
  .container2 {
    flex: unset;
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
  }
  .section2 {
    width: auto;
    flex-direction: column;
    padding: var(--padding-21xl) 0 var(--padding-21xl) 0;
  }
}
