.controlDeGastos,
.logo {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.contactanos {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--black);
  text-align: right;
}
.head,
.menu,
.menuButton {
  display: flex;
  flex-direction: row;
}
.menuButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-13xl);
  background-color: var(--green);
  border-radius: var(--br-xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.head,
.menu {
  align-items: center;
}
.menu {
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.head {
  align-self: stretch;
  padding: var(--padding-21xl);
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--black);
  font-family: var(--font-comfortaa);
}
@media screen and (max-width: 960px) {
  .logo {
    font-size: var(--font-size-7xl);
  }
  .controlDeGastos {
    display: none;
  }
  .contactanos {
    font-size: var(--font-size-base);
  }
  .head {
    gap: var(--gap-41xl);
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
    box-sizing: border-box;
  }
}
