.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 60px;
  font-weight: 400;
  font-family: inherit;
}
.h1,
.h2,
.text1 {
  align-self: stretch;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: var(--h2-l-size);
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.email,
.masInformacion {
  position: relative;
  font-size: var(--font-size-base);
  text-align: left;
}
.email {
  border: 0;
  font-family: var(--font-roboto-mono);
  background-color: transparent;
  flex: 1;
  color: var(--color-gray-200);
}
.masInformacion {
  font-weight: 600;
  font-family: var(--font-rajdhani);
  color: var(--black);
}
.buttonSubscribe {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-mini);
  background-color: var(--green);
  border-radius: var(--br-181xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container1,
.emailInput {
  display: flex;
  justify-content: flex-start;
}
.emailInput {
  align-self: stretch;
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-5xl);
  align-items: center;
  gap: var(--gap-3xs);
}
.container1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-81xl) 0 0;
  align-items: flex-start;
  gap: var(--gap-21xl);
}
.img1Icon {
  position: relative;
  width: 709.81px;
  height: 660px;
  object-fit: cover;
}
.heroSection,
.img1Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.img1Container {
  width: 568px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.heroSection {
  align-self: stretch;
  padding: var(--padding-21xl) 0 0 var(--padding-21xl);
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--h1-l-size);
  color: var(--black);
  font-family: var(--h2-l);
}
@media screen and (max-width: 1280px) {
  .h1 {
    font-size: var(--font-size-29xl);
    line-height: 60px;
  }
  .h1,
  .h2,
  .heroSection {
    align-self: stretch;
    width: auto;
  }
  .h2 {
    font-size: var(--font-size-5xl);
  }
  .heroSection {
    height: auto;
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .h1 {
    font-size: var(--font-size-9xl);
    line-height: 40px;
  }
  .h2 {
    font-size: var(--font-size-lg);
  }
  .text1 {
    gap: var(--gap-xl);
  }
  .email {
    flex: 1;
  }
  .email,
  .masInformacion {
    font-size: var(--font-size-sm);
  }
  .buttonSubscribe {
    padding: var(--padding-7xs) var(--padding-3xs);
    box-sizing: border-box;
  }
  .buttonSubscribe,
  .emailInput {
    align-self: stretch;
    width: auto;
    height: auto;
  }
  .container1 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-base);
    padding-top: 0;
    padding-right: var(--padding-base);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .img1Icon {
    width: 400px;
    height: 390px;
  }
  .img1Container {
    flex: 1;
    height: auto;
  }
  .heroSection {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-3xs);
    padding-left: 0;
    padding-top: var(--padding-xl);
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .email {
    align-self: stretch;
    height: auto;
    min-width: 100px;
  }
  .email,
  .masInformacion {
    font-size: var(--font-size-xs);
  }
  .buttonSubscribe {
    gap: var(--gap-3xs);
  }
  .emailInput {
    gap: var(--gap-7xs);
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-base);
    box-sizing: border-box;
  }
}
