.h1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 90px;
  font-weight: 400;
  font-family: inherit;
}
.h1,
.h2,
.text1 {
  align-self: stretch;
}
.h2 {
  margin: 0;
  position: relative;
  font-size: var(--h2-l-size);
  color: var(--black);
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.email {
  flex: 1;
  position: relative;
}
.masInformacion {
  position: relative;
  font-weight: 600;
}
.buttonSubscribe {
  border-radius: var(--br-181xl);
  background-color: var(--green);
  height: 37px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-mini);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: var(--font-rajdhani);
}
.container1,
.emailInput {
  display: flex;
  justify-content: flex-start;
}
.emailInput {
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 520px;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-9xs) var(--padding-9xs)
    var(--padding-5xl);
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-roboto-mono);
}
.container1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-41xl) 0 0;
  align-items: flex-start;
  gap: var(--gap-21xl);
}
.img1Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 450px;
}
.heroSection,
.img1Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.img1Container {
  flex: 1;
  justify-content: flex-start;
}
.heroSection {
  align-self: stretch;
  padding: 0 0 0 var(--padding-41xl);
  justify-content: center;
  text-align: left;
  font-size: var(--h1-l-size);
  color: var(--color-black);
  font-family: var(--h2-l);
}
@media screen and (max-width: 1280px) {
  .h1 {
    font-size: var(--font-size-29xl);
    line-height: 60px;
  }
  .h1,
  .h2,
  .heroSection {
    align-self: stretch;
    width: auto;
  }
  .h2 {
    font-size: var(--font-size-5xl);
  }
  .heroSection {
    height: auto;
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .h1 {
    font-size: var(--h2-l-size);
    line-height: 40px;
  }
  .h2 {
    font-size: var(--font-size-lg);
  }
  .text1 {
    gap: var(--gap-xl);
  }
  .emailInput {
    align-self: stretch;
    width: auto;
  }
  .container1 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-base);
    padding-top: 0;
    padding-right: var(--padding-base);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .img1Icon {
    flex: 1;
    align-self: stretch;
    height: auto;
    min-height: 320px;
  }
  .img1Container {
    flex: unset;
    align-self: stretch;
  }
  .heroSection {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: var(--gap-3xs);
    padding-left: 0;
    padding-top: var(--padding-xl);
    padding-right: 0;
    box-sizing: border-box;
  }
}
